{{ define "content" }}
<div class="chalk">
    N = R<sub>*</sub> &times;
        F<sub>p</sub> &times;
        N<sub>e</sub> &times;
        F<sub>l</sub> &times;
        F<sub>i</sub> &times;
        F<sub>c</sub> &times;
        L
</div>
<div class="hero">
    <h2>{{ .Subtitle }}</h2>
    <p>{{ .Intro }} </p>
    <h3>{{ .Goals }}</h3>
    <ul>
        {{ range $item := .GoalItems }}
            <li>{{ $item }}</li>
        {{ end }}
    </ul>
</div>
<nav>
    <ul>
        <li>
            <form action="/drake/sessions/new" method="post">
                <button class="pure-button pure-button-primary" type="submit">{{ .Create }}</button>
            </form>
        </li>
        <li>
            <a class="pure-button" href="/drake/sessions">{{ .Join }}</a>
        </li>
    </ul>
</nav>
{{ end }}