{{ define "content" }}
<h2>Latest Sessions</h2>
{{ if .Sessions }}
    <table class="pure-table pure-table-horizontal">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Participants</th>
            <th>Created</th>
        </thead>
        <tbody>
            {{ range $i, $el := .Sessions }}
            <tr>
                <td>{{ add $i 1 }}</td>
                <td><a href="/{{ $el.Name }}">{{ $el.Name }}</a></td>
                <td style="text-align: center;">{{ $el.Participants }}</td>
                <td>{{.MinutesSince}} mins ago</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
{{ else }}
No available sessions :(
{{ end }}

<a href="/" class="pure-button">Back</a>
{{ end }}