{{ define "content" }}
<div class="pure-u">
    <h1>Have you heard about the Drake Equation before?</h1>
    <form action="/{{ .Session.Name }}" method="post" class="pure-form">
        <label for="presurvey-familiarity-true" class="pure-radio">
            <input type="radio" id="presurvey-familiarity-true" name="presurvey-familiarity" value="true" /> Yes
        </label>
        <label for="presurvey-familiarity-false" class="pure-radio">
            <input type="radio" id="presurvey-familiarity-false" name="presurvey-familiarity" value="false" /> No
        </label>
        <button type="submit" class="pure-button pure-button-primary">Next</button>
    </form>
</div>
{{ end }}