{{ define "content" }}
<div class="chalk">
    {{ if or (eq .Survey.NextQuestion "Assessment") (eq .Survey.NextQuestion "LearnGain") }}
        <mark>N</mark>
    {{ else }}
        N
    {{ end }}
    =
    {{ if eq .Survey.NextQuestion "R" }}
        <mark>R<sub>*</sub></mark>
    {{ else }}
        R<sub>*</sub>
    {{ end }}
    &times;
    {{ if eq .Survey.NextQuestion "Fp" }}
        <mark>F<sub>p</sub></mark>
    {{ else }}
        F<sub>p</sub>
    {{ end }}
    &times;
    {{ if eq .Survey.NextQuestion "Ne" }}
        <mark>N<sub>e</sub></mark>
    {{ else }}
        N<sub>e</sub>
    {{ end }}
    &times;
    {{ if eq .Survey.NextQuestion "Fl" }}
        <mark>F<sub>l</sub></mark>
    {{ else }}
        F<sub>l</sub>
    {{ end }}
    &times;
    {{ if eq .Survey.NextQuestion "Fi" }}
        <mark>F<sub>i</sub></mark>
    {{ else }}
        F<sub>i</sub>
    {{ end }}
    &times;
    {{ if eq .Survey.NextQuestion "Fc" }}
        <mark>F<sub>c</sub></mark>
    {{ else }}
        F<sub>c</sub>
    {{ end }}
    &times;
    {{ if eq .Survey.NextQuestion "L" }}
        <mark>L</mark>
    {{ else }}
        L
    {{ end }}
</div>
<form action="/drake/{{ .Session.Name }}" method="post" class="pure-form">
    {{ if eq .Survey.N nil }}
    <h4>{{ .Choice }}</h4>
    {{ end }}
    {{ if eq .Survey.PresurveyAssessment nil }}
    <h3>{{ .N }}</h3>
    {{ range $opt := .NValues }}
        <label class="pure-radio">
            <input type="radio" name="presurvey_assessment" value='{{ printf "%.0f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.R nil }}
    <h3>{{ .R }}</h3>
    {{ range $opt := .RValues }}
        <label class="pure-radio">
            <input type="radio" name="r" value='{{ printf "%.0f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.Fp nil }}
    <h3>{{ .Fp }}</h3>
    {{ range $opt := .FpValues }}
        <label class="pure-radio">
            <input type="radio" name="fp" value='{{ printf "%.3f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.Ne nil }}
    <h3>{{ .Ne }}</h3>
    {{ range $opt := .NeValues }}
        <label class="pure-radio">
            <input type="radio" name="ne" value='{{ printf "%.3f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.Fl nil }}
    <h3>{{ .Fl }}</h3>
    {{ range $opt := .FlValues }}
        <label class="pure-radio">
            <input type="radio" name="fl" value='{{ printf "%.3f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.Fi nil }}
    <h3>{{ .Fi }}</h3>
    {{ range $opt := .FiValues }}
        <label class="pure-radio">
            <input type="radio" name="fi" value='{{ printf "%.3f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.Fc nil }}
    <h3>{{ .Fc }}</h3>
    {{ range $opt := .FcValues }}
        <label class="pure-radio">
            <input type="radio" name="fc" value='{{ printf "%.3f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.L nil }}
    <h3>{{ .L }}</h3>
    {{ range $opt := .LValues }}
        <label class="pure-radio">
            <input type="radio" name="l" value='{{ printf "%.0f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ else if eq .Survey.PostsurveyLearnGain nil }}

    <h3>{{ .Estimation }}</h3>
    <h4>{{ .Difference }}</h4>
    <h3>{{ .Agreement }}</h3>
    {{ range $opt := .AgreementValues }}
        <label class="pure-radio">
            <input type="radio" name="learn_gain" value='{{ printf "%.0f" $opt.Value }}' /> {{ $opt.Text }}
        </label>
    {{ end }}

    {{ end }}

    {{if eq .Survey.PostsurveyLearnGain nil }}
    <button type="submit" class="pure-button pure-button-primary">{{ .Next }}</button>
    {{ end }}
</form>
{{ end }}